@import './extend';

.barranavegacion div a {
    text-decoration: none;
    line-height: 1.5;
    color:map-get($colores ,"color-primario")
} 
.barranavegacion {
    width: fit-content;
    margin: 10px auto;
}

.cabecera {
    background-color:map-get($colores ,"color-secundario")


}

.nav-link {
    list-style: none;
    width: fit-content;
    border: solid 1px gold;
    border-radius: 10px;
    padding: 3px;
    margin: 10px;
    display: inline-block;
    background-color:map-get($colores ,"color-terciario")
}

.navbar-brand img {
    width: 70px;
    height: 70px;
    object-position: center;
}