@import './extend';
.peliculas {
    flex-wrap: nowrap;
    overflow-x: scroll;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 1px;
    padding: 40px;
    justify-items: center; }

  .peliculas img {
    width: 250px;
    height: 300px;
    object-position: 30%; }